@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --earthy-copper: #b87e65;
  --desert-cream: #f5edda;
  --brand-brown: #613e2f;
  --brand-black: #3a3a3a;
  --brand-green: #8a8f6a;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-inactive-color: var(--color-background);
  --swiper-pagination-color: var(--color-copper);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-raleway: var(--font-raleway);
  --font-openSans: var(--font-openSans);
  --color-copper: var(--earthy-copper);
  --color-cream: var(--desert-cream);
  --color-brand-brown: var(--brand-brown);
  --color-brand-black: var(--brand-black);
  --color-brand-green: var(--brand-green);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.about-content-container > p {
  padding-bottom: 25px;
}
